**/.terraform/*
**/.tfstate
**/.tfstate.*
**/.log
# Ignore Terraform state files specific to modules
**/.terraform.lock.hcl

*.terraform/*
*.tfstate
*.tfstate.*
*.log
# Ignore Terraform state files specific to modules
*.terraform.lock.hcl